/* cabeçalho */
header {
    background: #000000;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.imagem-cabeçario {    
    width: 10%;
    margin-left: 35px;   
}
.whats-imagem {
    display: inline-block;
    width: 54px;
    margin-left: 1496px;
    margin-right: 10px;
    border-radius: 100%;
}
.insta-imagem {
    display: inline-block;
    width: 44px;    
    border-radius: 100%;
}
nav {
    margin-top: -85px;
    position: absolute;
    left: 185px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover {
    color: #228B22;
    text-decoration: underline;
}

/* Pagina inicial */
body {
    font-family: 'Montserrat', sans-serif;
}

.banner {  
    width: 100%;
}

.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
    margin-top: -5px;
}

.titulo-principal {
    color: #228B22;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;    
}

.principal p {
    font-size: 18px;
    margin: 0 0 1em;
    color: #FFFFFF;
}

.coquiteis {
    width: 26%;    
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    color: #FFFFFF;
    padding: 3em 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;    
}

.lista-beneficios {
    width: 51%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 2.5;
}

.itens::before {
    content: "🍸";
}

.imagem-beneficio {
    width: 49%;       
}
main {
    background: #000000;
}
/* Roda pé */
footer{
    text-align: center;
    background: #000000;
    padding: 40px 0;
}
footer p {
    color: #FFFFFF;    
    font-size: 15px;
}
.imagem-rodape {
    width: 10%;
    height: 10%;    
}